{% extends 'base.html.twig' %}

{% block title %}Vetements!{% endblock %}

{% block body %}
<div class="card-deck">
        {% for produit in tailles %}
            {{ include("produit/card.html.twig") }}
        {% else %}
            Aucun produit enregistré
        {% endfor %}
    </div>
{% endblock %}