
{% extends 'base.html.twig' %}

{% block title %}Vetements!
{% endblock %}

{% block body %}
	{# {{ include("filtre/allfiltre.html.twig") }} #}
	<div class="row d-flex justify-content-center">
		<div class="col-9 ">
			<div class="row">
				{% for produit in listeProduits %}
					{{ include("produit/cardtest.html.twig") }}
				{% else %}
					Aucun produit enregistré
				{% endfor %}
			</div>
			
		</div>
	</div>
{% endblock %}
