<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="">
				<img src="images/vetement (2).jpg" class="w-100 h-100 imgcar" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<a
						class="text-decoration-none" href="{{ path('app_produit_categorie', {'parent':2}) }}">
						<h5 class="carouselTitre1">Vêtements</h5>
					</a>
					<p>Découvrez notre sélections de vêtement.</p>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="">
				<img src="images/pexels-rodnae-productions-5699104.jpg" class="w-100 h-100 imgcar" alt="...">
			</div>
			<div class="carousel-caption d-none d-md-block">

				<a class="text-decoration-none" href="{{ path('app_produit_categorie', {'parent':4}) }}">
					<h5 class="carouselTitre2">Accesoire</h5>
				</a>
				<p>Découvrez notre sélections de accesoires.</p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="">
				<img src="images/pexels-jordan-hyde-1032109.jpg" class="w-100 h-100 imgcar " alt="...">
			</div>
			<div class="carousel-caption d-none d-md-block">
				<a class="text-decoration-none" href="{{ path('app_produit_categorie', {'parent':7}) }}">
					<h5 class="carouselTitre3">Chaussure</h5>
				</a>
				<p>Découvrez notre sélections de chaussures.</p>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
