{% extends 'base.html.twig' %}
{% block title %}Page d'accueil
{% endblock %}
{% block large %}
	{{ include("home/carrousel.html.twig") }}

{% endblock %}
{% block body %}

	<div class="card123">
		{{ include("produit/card2.html.twig") }}
		<div class="row">
			{% for produit in listeProduits %}
				{# {{ include("produit/card.html.twig") }} #}
			{% else %}
				Aucun produit enregistré
			{% endfor %}
		</div>
	</div>
	
{% endblock %}


