{% extends 'base.html.twig' %}
{% block title %}Page d'accueil
{% endblock %}
{% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}
{% block large %}
	{% if currentPath != '' %}
		{{ include("home/carrousel.html.twig") }}
	{% endif %}
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row mb-4">
			{{ include("filtre/allfiltre.html.twig") }}
			{{ include("home/cardCat.html.twig") }}
		</div>
	</div>
{% endblock %}
