{% extends 'base.html.twig' %}

{% block title %}Vetements!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-2">
			<ul class="list-group">
				{% for indice in tailles %}

					<li class="list-group-item">
						<a class="nav-link" href="{{ path('app_taille_tail', {'tail': indice.taille}) }}">{{ indice.taille }}</a>
					</li>

				{% endfor %}
			</ul>
		</div>
		<div class="col-10">
			<div class="row">
				{% for produit in produitsByGenre %}
					{{ include("produit/card.html.twig") }}
				{% else %}
					Aucun produit enregistré
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
