liip_imagine:
  # valid drivers options include "gd" or "gmagick" or "imagick"
  driver: "gd"
  filter_sets:
    miniature:
      quality: 75
      filters:
        thumbnail: 
          size: [200, 200]
          mode: outbound
    echelle:
      quality: 85
      filters:
        scale:
          dim: [250, 250]

    article:
      quality: 80
      filters:
        upscale:
          min: [800,400]
        thumbnail:
          size: [800,400]
          mode: outbound
        # watermark:
        #   image: ../public/imgages/haut-jordan_636243907e55c.jpg
        #   size: 0.1
        #   position: bottomright

            
