<h1>Vérification d'adresse email et activation de compte</h1>

<p>Bonjour,</p>

<p>Cher(e) {{ users.pseudo }} ,</p>


<p>Nous sommes heureux de vous accueillir dans notre communauté !</p>

<p>Votre adresse email est maintenant vérifiée, et votre compte activé et vous pouvez accéder à toutes les fonctionnalités et services que nous offrons.</p>


<p>Si vous avez des questions ou des préoccupations, veuillez nous contacter à Ced-Shop@email.fr .</p>


<p>Cordialement, Ced-Shop</p>

<img src="{{ absolute_url(asset('images/email-img.png')) }}" alt="img-de-boutique">
