{% extends 'base.html.twig' %}

{% block title %}Vetements!
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col">
			<div class="row">
				{% for produit in produitsByGenre %}
					{{ include("produit/card.html.twig") }}
				{% else %}
					Aucun produit enregistré
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
