<p>Objet et champ d'application
    Les présentes CGU ont pour objet de définir les conditions d'utilisation du site CedShop. Tout utilisateur du site CedShop s'engage à respecter les présentes CGU.
    
<h5>Création d'un compte utilisateur</h5>
    Pour accéder à certaines fonctionnalités du site CedShop, il est nécessaire de créer un compte utilisateur en fournissant des informations personnelles. L'utilisateur est responsable de la confidentialité de son compte et de son mot de passe.
    
<h5>Commandes</h5>
    Le site CedShop permet de passer des commandes en ligne. Les informations sur les produits et les prix affichés sur le site CedShop sont non contractuelles et peuvent être modifiées à tout moment sans préavis. Les commandes ne sont définitives qu'après validation du paiement par l'utilisateur.
    
    <h5>Paiement et livraison</h5>
    Le paiement des commandes s'effectue en ligne par carte bancaire ou tout autre moyen de paiement proposé sur le site CedShop. Les livraisons sont effectuées à l'adresse indiquée par l'utilisateur lors de la commande. Les délais de livraison sont donnés à titre indicatif et peuvent varier en fonction des contraintes logistiques et des aléas de transport.
    
     <h5>Responsabilité</h5>
    Nous mettons tout en œuvre pour garantir la qualité des produits et des services proposés sur le site CedShop. Toutefois, nous ne pouvons pas garantir la conformité des produits livrés avec les attentes de l'utilisateur. En cas de non-conformité ou de défaut de livraison, nous nous engageons à procéder au remboursement de la commande.
    
     <h5>Propriété intellectuelle</h5>
    Tous les contenus présents sur le site CedShop, notamment les textes, les images, les graphismes, les logos et les vidéos, sont la propriété intellectuelle exclusive de CedShop. Toute reproduction, représentation, distribution ou exploitation de tout ou partie du site sans autorisation préalable de notre part est strictement interdite.
    
     <h5>Modification des CGU</h5>
    Les présentes CGU peuvent être modifiées à tout moment sans préavis. Il est de la responsabilité de l'utilisateur de consulter régulièrement les CGU pour prendre connaissance des modifications éventuelles.
    
    <h5> Droit applicable et juridiction compétente</h5>
    Les présentes CGU sont régies par le droit français. Tout litige relatif à l'utilisation du site CedShop sera soumis à la compétence exclusive des tribunaux français.
    
    Nous vous remercions d'avoir pris connaissance de ces CGU et de votre confiance envers notre site e-commerce CedShop.</p>