<p>Collecte des données personnelles
    Nous collectons des données personnelles telles que votre nom, votre adresse e-mail, votre adresse de livraison et votre numéro de téléphone lorsque vous créez un compte utilisateur ou passez une commande sur le site CedShop.
    
    Utilisation des données personnelles
    Les données personnelles collectées sont utilisées pour le traitement des commandes, la livraison des produits et le suivi de la relation client. Nous pouvons également utiliser ces données pour vous informer de nos offres promotionnelles ou de l'actualité de notre site.
    
    Protection des données personnelles
    Nous nous engageons à protéger vos données personnelles et à les traiter de manière confidentielle. Nous mettons en place les mesures de sécurité nécessaires pour empêcher toute perte, utilisation abusive, modification ou divulgation non autorisée de vos données.
    
    Conservation des données personnelles
    Nous conservons vos données personnelles aussi longtemps que nécessaire pour le traitement des commandes et le suivi de la relation client. Si vous souhaitez supprimer votre compte utilisateur ou demander la suppression de vos données personnelles, veuillez nous contacter à l'adresse e-mail suivante : [adresse e-mail].
    
    Partage des données personnelles
    Nous ne partageons pas vos données personnelles avec des tiers, à l'exception des prestataires de services impliqués dans le traitement des commandes (par exemple, les transporteurs) ou pour répondre à une obligation légale.
    
    Droits des personnes concernées
    Vous disposez des droits d'accès, de rectification, de suppression, de portabilité et d'opposition pour les données personnelles vous concernant. Pour exercer ces droits, veuillez nous contacter à l'adresse e-mail suivante : [adresse e-mail].
    
    Nous vous remercions d'avoir pris connaissance de notre politique de confidentialité RGPD pour le site e-commerce CedShop.</p>