<div class="cont mt-5">
	<div style="width:250px; height:250px;position: relative">


		<a class="liennone" href="{{ path('app_genre', {'type': 'Homme'}) }}">
			<p class="titre">Homme</p>
			<img src="images/pexels-rubaitul-azad-15390758.jpg" style="width:100%; height:100%;">
		</a>
		<div style="padding:10px;"></div>
	</div>

	<div style="width:250px; height:250px;position: relative">
		<a class="liennone" href="{{ path('app_genre', {'type': 'Femme'}) }}">
			<p class="titre">Femme</p>
			<img src="images/pexels-inga-seliverstova-3394229.jpg" style="width:100%; height:100%;">
		</a>
		<div style="padding:10px;"></div>
	</div>

	<div style="width:250px; height:250px;position: relative">
		<a class="liennone" href="{{ path('app_genre', {'type': 'Enfant'}) }}">
			<p class="titre">Enfant</p>
			<img src="images/pexels-marta-wave-6437462 (1).jpg" style="width:100%; height:100%;">
		</a>
		<div style="padding:10px;"></div>
	</div>
</div>
