$primary: #3b4f84;
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: #f5f5f5;
}

#btn,
#btn2 {
  padding: 0px;
}

// Debut de Nav
.navbar-brand {
  color: rgb(21, 114, 135);
}
.wraper {
  background-color: #555;
}

.nav-item {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  box-shadow: 5px 6px 20px rgb(21, 114, 135);
}
#main h1 {
  text-align: center;
}
.liens {
  display: inline-flex;
  color: #fff;
}
.liens .lien {
  list-style: none;
  padding: 9px;
}
.liens .lien a {
  color: #f5f5f5;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 18px;
}
.liens .lien a:hover {
  background-color: #000;
  border-radius: 1rem;
  transition: all 0.2s ease-in;
}
.sous-menu .liens {
  position: absolute;
  display: none;
  background: #555;
  width: 200px;
  margin-left: 5px;
  top: 65px;
  text-align: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: 2;
  margin-left: -52px;
}
.lien-deroulant:hover .sous-menu .liens {
  display: block;
  top: 55px;
}

.sous-menu .liens a {
  margin: 20px 0;
}
// Fin de la Nav

//Debut Carousell
.carousel-item {
  height: 755px;
}
.carouselTitre {
  font-size: 40px;
  position: relative;
  line-height: 600px;
}
//Fin Carousell

//li trier par
.tris {
  height: 200px;
  overflow-y: scroll;
}
//Fin li trier par

// titre H1 (base.html.twig)
.titre-h1{
  margin: 30px 0px;
  text-align: center;
}
// Fin titre H1

//DEBUT DE CARD CAT
.titre {
  margin-top: 0;
  margin-bottom: 1rem;
  position: relative;
  top: 161px;
  font-size: 26px;
  color: white;
  text-align: center;
}

//FIN DE CARD CAT

//Style img-panier
.card-img-panier{
width: 100px;

}






//MegaMenu

// .megamenu {
//   position: absolute;
//   background: #555;
//   width: 80%;
//   top: 65px;
//   left: 10%;
//   padding: 20px;
//   border-bottom-left-radius: 2rem;
//   border-bottom-right-radius: 2rem;
//   display: none;
// }

// .lien-mega:hover .megamenu {
//   display: block;
//   transition: all 0.3s ease-in;
//   top: 54px;
// }

// .containerm {
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;
//   text-align: center;
// }

// .colone ul {
//   display: block;
// }
// .colone ul li {
//   margin: 20px;
// }
// .colone .photo {
//   height: 200px;
//   width: 200px;
//   margin: auto;
//   border-radius: 1rem;
//   border: solid 3px #f5f5f5;
// }
// .colone h2 {
//   font: 10px;
// }


