$primary: #3b4f84;
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
    background-color: rgb(21, 114, 135);
}
.vignette {
    height: 100px;
    width: auto;
}
 #btn,#btn2{
padding: 0px;

 }
 
  
  
 
 
