{% block footer %}
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h4>A propos de nous</h4>
					<p>Nous sommes une entreprise spécialisée dans la vente en ligne de produits de qualité.</p>
				</div>
				<div class="col-md-4">
					<h4>Liens utiles</h4>
					<ul class="list-unstyled">
						<li>
							<a href="/">Accueil</a>
						</li>
						<li>
							<a href="/cgv">CGV</a>
						</li>
						<li>
							<a href="/cgu">CGU</a>
						</li>
						<li>
							<a href="/mentions-legales">Mentions légales</a>
						</li>
						<li>
							<a href="/rgpd">RGPD</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<h4>Contactez-nous</h4>
					<ul class="list-unstyled">
						<li>
							<i class="bi bi-telephone"></i>
							+33 1 23 45 67 89</li>
						<li>
							<i class="bi bi-envelope"></i>
							contact@monsite.com</li>
						<li>
							<i class="bi bi-geo-alt"></i>
							10 Rue de la Paix, 75008 Paris</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

{% endblock %}
