{% extends 'base.html.twig' %}

{% block title %}Hello RechercheController!
{% endblock %}

{% block h1 %}
	Résultat de la recherche du mot :
	<code>
		{{ mot }}
	</code>
{% endblock %}

{% block body %}

	<div class="row d-flex justify-content-center">
		<div class="col-9 ">
			<div class="row">
            
				{% for produit in produits %}
					{{ include("produit/card.html.twig") }}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
